body
{
    background-color: #424242;
    margin: 0;
}
.header-list-item
{
    display: inline-flex;

}
.header-list-item:first-child
{
    justify-content: flex-start;
}
.header-list-item a
{
    text-decoration: none;
    color: darkcyan;
    font-size: 1.2em;
    align-items: flex-end;
}
#header
{
    padding: 0 20px;
    display: flex;
    background-color: dodgerblue;
    justify-content: space-between;
}

.header-inner{
    margin: 20px 0;
}
.header-inner a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 0 10px;
}
