body
{
    background-color: #2f3235;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header
{
    padding: 0 20px;
    display: flex;
    background-color: #2F3241;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #1a1b23;

}

.header-inner{
    margin: 20px 0;
}

.header_button{
    font-size: 16px;
    text-decoration: none;
    color: #74B1BE;
    margin: 0 4px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: 0.45s;
}

.header-inner a:hover{
    border-bottom: 2px solid #74B1BE;
}

#header-image{
    max-width: 200px;
    margin: 10px 0;
}
#nav_buttons{
    border-bottom: 2px solid #74B1BE;
    padding: 10px 0;
}
nav a{
    text-decoration: none;
    color: #74B1BE;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 10px;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: 0.45s;

}

nav a:hover {
    padding-bottom: 0px;
	border-bottom: solid 2px #74B1BE;
}

#page-wrap{
    margin: 0 20px;
}

.selected{
    color: lightseagreen;
}

#watchvideo
{
    text-decoration: none;
    color: #74B1BE;
}

#intro
{
    color: #c1c6bf;
}

#main-content
{
    text-align: center;
}

#guts
{
    color: #c1c6bf;
    font-size: 1em;
}

span#naslov1
{
    font-size: 200%;
}

.underline{
    color: lightseagreen;
    border-bottom: 2px solid lightseagreen;
}
