body
{
    background-color: #424242;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#header
{
    padding: 0 20px;
    display: flex;
    background-color: dodgerblue;
    justify-content: space-between;
}

.header-inner{
    margin: 20px 0;
}

.header-inner a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-weight: 600;
}
