#guts
{
    padding-bottom: 20px;
    margin: 0 12%;
}
.main-text
{

}

#link_tukaj
{
    text-decoration: none;
    color: #74B1BE;
}

#tutorialimage1
{
    padding-bottom: 10px;
}

#tutorial1_1
{
    display: block;
}

#tutorial1_2
{
   display: none;
}

#tutorial1_3
{
    display: none;
}

#tutorial1_4
{
    display: none;
}

#tutorial1_5
{
    display: none;
}

.button
{
    margin: 1%;
    text-decoration: none;
    color: #0D4A59;
    background-color: #F2F2F2;
    padding: 5px 10px;
    transition: all 0.4s;
    border: 2px solid transparent;
    cursor: pointer;
}

.next:hover
{
    font-size: 14px;
    border: 2px solid #0D4A59;
}

h2
{
    color: #c1caaf;
}

.codesnippet
{
    margin-bottom: 10px;
    color: #9feaf9;
    margin-left: 5%;
    padding: 10px;
    width: 800px;
    background-color: #1c1e15;
    text-align: left;
    border: 1px solid #111218;
}

#button_wrap
{
    margin: 1%;
}

#button_naprej
{
    display: none;
    text-align: center;
}

.actionsnip
{
    color: #595a5b;
    margin-left: 10px;
    padding: 3px;
    background-color: #c1c6bf;
    border-radius: 5px;
}

.alignitleft
{
    text-align: left;
    float: left;
}

#npm_init
{
    float: right;
}

#clear
{
    clear: both;
}

.button_b{
    margin: 1%;
    text-decoration: none;
    color: #0D4A59;
    background-color: #F2F2F2;
    padding: 5px 10px;
    transition: all 0.4s;
    border: 2px solid transparent;
    font-size: 17px;
    line-height: 22px;
}

span.unselect
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}
